* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0a99c5;
    padding: 10px;
}

.header {
    position: absolute;
    width: calc(100% - 40px);
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ham {
    display: none;
    position: absolute;
    left: 10px;
    font-size: 26px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.sidebar {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 210px;
    height: calc(100vh - 80px);
    background-color: #f1f1f1;
    border-radius: 0 12px 12px 0;
    transition: all 0.5s ease;
    z-index: 100;
}

.gambar {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.gambar img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a.active {
    background-color: #04aa6d;
    border-radius: 0 12px 12px 0;
    color: white;
}

li a {
    display: block;
    color: #000;
    padding: 18px 25px;
    text-decoration: none;
    font-family: arial;
    font-size: large;
    font-weight: 200;
}

li a:hover {
    background-color: #a0e9ff;
    color: white;
    border-radius: 0 12px 12px 0;
}

@media screen and (max-width: 768px) {
    .header h2 {
        font-size: 18px;
    }

    .ham {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar {
        margin-left: -220px;
    }

    .sidebar.open {
        margin-left: 0;
    }
}
